<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.biauxia.code.microraptor.generate.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="cn.biauxia.code.microraptor.generate.domain.Article">
        <!--@mbg.generated-->
        <!--@Table article-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="articleTitle" jdbcType="VARCHAR" property="articletitle"/>
        <result column="articleAuthorId" jdbcType="VARCHAR" property="articleauthorid"/>
        <result column="articlePermalink" jdbcType="VARCHAR" property="articlepermalink"/>
        <result column="articlePutTop" jdbcType="CHAR" property="articleputtop"/>
        <result column="articleCreated" jdbcType="BIGINT" property="articlecreated"/>
        <result column="articleUpdated" jdbcType="BIGINT" property="articleupdated"/>
        <result column="articleRandomDouble" jdbcType="DOUBLE" property="articlerandomdouble"/>
        <result column="articleSignId" jdbcType="VARCHAR" property="articlesignid"/>
        <result column="articleViewPwd" jdbcType="VARCHAR" property="articleviewpwd"/>
        <result column="articleImg1URL" jdbcType="VARCHAR" property="articleimg1url"/>
        <result column="articleStatus" jdbcType="INTEGER" property="articlestatus"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="cn.biauxia.code.microraptor.generate.domain.Article">
        <!--@mbg.generated-->
        <!--@Table article-->
        <result column="articleAbstract" jdbcType="LONGVARCHAR" property="articleabstract"/>
        <result column="articleAbstractText" jdbcType="LONGVARCHAR" property="articleabstracttext"/>
        <result column="articleTags" jdbcType="LONGVARCHAR" property="articletags"/>
        <result column="articleContent" jdbcType="LONGVARCHAR" property="articlecontent"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, articleTitle, articleAuthorId, articlePermalink, articlePutTop, articleCreated,
        articleUpdated, articleRandomDouble, articleSignId, articleViewPwd, articleImg1URL,
        articleStatus
    </sql>
    <sql id="Blob_Column_List">
        <!--@mbg.generated-->
        articleAbstract, articleAbstractText, articleTags, articleContent
    </sql>
</mapper>